/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

main{
   text-align: center;
   margin: 0 auto;
   padding: 5rem;
}

#title{
    padding-bottom: 4rem;
    color: deeppink;
}

main > p{
    padding-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

#team{
    padding-left: 5rem;
    text-align: justify;
}

#team .colonne-team .colonne{
    float: left;
    margin: 1rem 1%;
    width: 350px;
    height: 120px;
    background-color: black;
    color: white;
}

h2{
    padding-top: 1rem;
    padding-bottom: .5rem;
}

img{
    width: 120px;
    height: 120px;
    float: left;
    padding-right: 1rem;
}
 
div > p{
    color: lightseagreen;
    padding-top: .5rem;
}




